# Player Prediction using Machine Learning

## 1. Data Cleaning, formating and Exploratory data analysis

In [2]:

#import all libraries and dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [3]:
#Reading data from CSV file
matches=pd.read_csv("Match.csv")

In [4]:
matches.head()

,Match_id,Team1,Team2,Gender,Date,Season,Series/Competition,Match_number,Venue,City,...,Umpire1,Umpire2,Reserve_umpire,Tv_umpire,Match_referee,Winner,Winner_runs,Winner_wickets,Method,Outcome
0,1000887,Australia,Pakistan,male,1/13/2017,2016/17,Pakistan in Australia ODI Series,1.0,"""Brisbane Cricket Ground",Brisbane,...,MD Martell,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,92.0,NaN,NaN,NaN
1,1000889,Australia,Pakistan,male,1/15/2017,2016/17,Pakistan in Australia ODI Series,2.0,Melbourne Cricket Ground,NaN,...,CB Gaffaney,P Wilson,SJ Nogajski,C Shamshuddin,JJ Crowe,Pakistan,NaN,6.0,NaN,NaN
2,1000891,Australia,Pakistan,male,1/19/2017,2016/17,Pakistan in Australia ODI Series,3.0,Western Australia Cricket Association Ground,Perth,...,SD Fry,C Shamshuddin,P Wilson,CB Gaffaney,JJ Crowe,Australia,NaN,7.0,NaN,NaN
3,1000893,Australia,Pakistan,male,1/22/2017,2016/17,Pakistan in Australia ODI Series,4.0,Sydney Cricket Ground,NaN,...,CB Gaffaney,MD Martell,P Wilson,C Shamshuddin,JJ Crowe,Australia,86.0,NaN,NaN,NaN
4,1000895,Australia,Pakistan,male,1/26/2017,2016/17,Pakistan in Australia ODI Series,5.0,Adelaide Oval,NaN,...,SD Fry,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,57.0,NaN,NaN,NaN

In [5]:
matches.shape

(1951, 24)

In [6]:
matches.isnull().sum()

Match_id                 0
Team1                    0
Team2                    0
Gender                   0
Date                     0
Season                   0
Series/Competition      30
Match_number           247
Venue                    0
City                   287
Neutral_venue         1434
Toss_winner              0
Toss_decision            0
Player_of_match        142
Umpire1                  0
Umpire2                  0
Reserve_umpire         160
Tv_umpire              414
Match_referee           37
Winner                  69
Winner_runs           1053
Winner_wickets         967
Method                1794
Outcome               1882
dtype: int64

In [7]:
matches = matches.drop(['Outcome','Method','Match_referee','Toss_decision','Toss_winner','Neutral_venue',
        'Series/Competition','Gender','Date','Season','City','Venue','Umpire1','Umpire2','Reserve_umpire','Tv_umpire'], axis=1)

In [8]:
matches.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN

In [9]:
#Reading data from CSV file
pfmce=pd.read_csv("Player_performance.csv")

In [10]:
pfmce.head()

,Unnamed: 0,Match_id,Players_1,BattingOrder_1,inning_bat_1,Bat_Bowler_1,Bat_Dismissal_1,Bat_Runs_1,4s_1,6s_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,0,1004261,G Malla,1,1,T van der Gugten,bowled,11,2,0,...,0,0,0.0,0,0,0,0,0,0,0.0
1,1,1004269,C Carter,1,1,LN Oluoch,caught,41,4,1,...,Kenya,1,6.1,29,3,0,0,0,0,0.0
2,2,1004283,KJ Coetzer,1,1,Ehsan Khan,lbw,53,6,2,...,0,0,0.0,0,0,0,0,0,0,0.0
3,3,1004285,KJ Coetzer,1,1,Tanveer Ahmed,caught and bowled,48,8,2,...,Hong Kong,1,10.0,46,3,1,7,0,0,0.0
4,4,1007649,PJ Moor,1,1,BB Sran,lbw,3,0,0,...,0,0,0.0,0,0,0,0,0,0,0.0

In [11]:
pfmce.shape()

TypeError: 'tuple' object is not callable

In [ ]:
pfmce.isnull().sum()

In [ ]:
pfmce = pfmce.drop(['Unnamed: 0'], axis=1)

In [12]:
pfmce.shape

(1905, 442)

In [13]:
#Merge the 2 tables
MergeData= pd.concat([matches,pfmce],axis=1)
MergeData.shape

(1951, 450)

In [14]:
MergeData.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Unnamed: 0,Match_id,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,0.0,1004261.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,1.0,1004269.0,...,Kenya,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,2.0,1004283.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,3.0,1004285.0,...,Hong Kong,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,4.0,1007649.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
MergeData.columns

Index(['Match_id', 'Team1', 'Team2', 'Match_number', 'Player_of_match',
       'Winner', 'Winner_runs', 'Winner_wickets', 'Unnamed: 0', 'Match_id',
       ...
       'BattingTeam_22', 'inning_bowl_22', 'Over_22', 'Runs_22', 'Wicket_22',
       'Maiden_22', 'extra_22', 'fowRuns_22', 'wicketNumber_22', 'fowOver_22'],
      dtype='object', length=450)

In [16]:
# CHhecking any null values
missing_values_check = MergeData.isnull().sum()
print(missing_values_check)

Match_id               0
Team1                  0
Team2                  0
Match_number         247
Player_of_match      142
Winner                69
Winner_runs         1053
Winner_wickets       967
Unnamed: 0            46
Match_id              46
Players_1             46
BattingOrder_1        46
inning_bat_1          46
Bat_Bowler_1          46
Bat_Dismissal_1       46
Bat_Runs_1            46
4s_1                  46
6s_1                  46
Ball Faced_1          46
Dots_1                46
BattingTeam_1         46
inning_bowl_1         46
Over_1                46
Runs_1                46
Wicket_1              46
Maiden_1              46
extra_1               46
fowRuns_1             46
wicketNumber_1        46
fowOver_1             46
                    ...
BattingTeam_21        46
inning_bowl_21        46
Over_21               46
Runs_21               46
Wicket_21             46
Maiden_21             46
extra_21              46
fowRuns_21            46
wicketNumber_21       46
fowOver_21            46
Players_22            46
BattingOrder_22       46
inning_bat_22         46
Bat_Bowler_22         46
Bat_Dismissal_22      46
Bat_Runs_22           46
4s_22                 46
6s_22                 46
Ball Faced_22         46
Dots_22               46
BattingTeam_22        46
inning_bowl_22        46
Over_22               46
Runs_22               46
Wicket_22             46
Maiden_22             46
extra_22              46
fowRuns_22            46
wicketNumber_22       46
fowOver_22            46
Length: 450, dtype: int64

In [17]:
# Remove row_id
MergeData = MergeData.drop(['Match_id'], axis=1)

In [18]:
MergeData.head(10)

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Unnamed: 0,Players_1,BattingOrder_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,0.0,G Malla,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,1.0,C Carter,1.0,...,Kenya,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,2.0,KJ Coetzer,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,3.0,KJ Coetzer,1.0,...,Hong Kong,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,4.0,PJ Moor,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Australia,New Zealand,1.0,SPD Smith,Australia,68.0,NaN,5.0,H Masakadza,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Australia,New Zealand,2.0,DA Warner,Australia,116.0,NaN,6.0,H Masakadza,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Australia,New Zealand,3.0,DA Warner,Australia,117.0,NaN,7.0,DM Gondaria,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Scotland,Afghanistan,1.0,NaN,NaN,NaN,NaN,8.0,L Siaka,1.0,...,Kenya,1.0,6.0,41.0,0.0,1.0,0.0,228.0,10.0,47.5
9,Scotland,Afghanistan,2.0,NaN,Afghanistan,78.0,NaN,9.0,MJ Guptill,1.0,...,Bangladesh,1.0,10.0,60.0,2.0,0.0,4.0,264.0,10.0,44.6

For finding out the strike rate we need to first find out the total runs score by the
each team player.

Fornula for finnding the Strike rate: (Number of runs/ Total Ball Played)*100

In [19]:
# Finding out the total runs score by the players
MergeData['Player1_Trun']= 4*MergeData['4s_1'] + 6*MergeData['6s_1']+ MergeData['Bat_Runs_1']
MergeData['Player2_Trun']= 4*MergeData['4s_2'] + 6*MergeData['6s_2']+ MergeData['Bat_Runs_2']
MergeData['Player3_Trun']= 4*MergeData['4s_3'] + 6*MergeData['6s_3']+ MergeData['Bat_Runs_3']

In [20]:
#Finding out the strike rate of each player present in the column "Players_1"
MergeData['Player1_Strike']= (MergeData['Player1_Trun'] / MergeData['Ball Faced_1'])*100

In [21]:
MergeData.head()

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Unnamed: 0,Players_1,BattingOrder_1,...,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22,Player1_Trun,Player2_Trun,Player3_Trun,Player1_Strike
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,0.0,G Malla,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,19.0,24.0,14.0,158.333333
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,1.0,C Carter,1.0,...,3.0,0.0,0.0,0.0,0.0,0.0,63.0,1.0,126.0,101.612903
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,2.0,KJ Coetzer,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,89.0,24.0,42.0,306.896552
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,3.0,KJ Coetzer,1.0,...,3.0,1.0,7.0,0.0,0.0,0.0,92.0,17.0,140.0,224.390244
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,4.0,PJ Moor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,13.0,22.0,60.000000

### Creating dataset of Players_1 players strike rate

In [28]:
# Creating New dataset for Players_1 Player
Player1 = MergeData[['Player1_Strike','Players_1']]

cols = ['Player1_Strike','Players_1']

Strike = Player1[cols]
Strike.head(10)

   Player1_Strike    Players_1
0      158.333333      G Malla
1      101.612903     C Carter
2      306.896552   KJ Coetzer
3      224.390244   KJ Coetzer
4       60.000000      PJ Moor
5       76.470588  H Masakadza
6       66.666667  H Masakadza
7       42.307692  DM Gondaria
8        0.000000      L Siaka
9      147.058824   MJ Guptill

In [29]:
Strike = Strike.dropna()

In [31]:
Strike = Strike.astype({'Player1_Strike': 'int'})

In [32]:
Strike.head()

   Player1_Strike   Players_1
0             158     G Malla
1             101    C Carter
2             306  KJ Coetzer
3             224  KJ Coetzer
4              60     PJ Moor

In [33]:
# Changing the column Name
Strike.rename(columns={'Player1_Strike': 'Strike_Rate', 'Players_1': 'Player'}, inplace=True)

In [34]:
# Dropping the Dublicate values from the dataset
Strike.sort_values("Player", inplace = True)
  
# dropping ALL duplicte values
Strike.drop_duplicates(subset ="Player",
                     keep = False, inplace = True)
  
# displaying data
Strike

      Strike_Rate                    Player
1520           32               A Balbirnie
1012           46                  A Bonora
1274          106                 A Patmore
725            80              AA Deshpande
897            35                 AA Obanda
1514          261                AA Onikoyi
1057          121               AG Paunikar
243            45                 AJ Doolan
302           172                AK Markram
1696           11                AL Ndhlovu
900            96               AN Kervezee
330            12                 AT Rayudu
1119          266               AW Robinson
576           145              Abdul Jabbar
1591            0              Abdul Waheed
1592            0           Abdullah Shahid
112           186           Aftab Ahmed (2)
1782          106             Anshuman Rath
989            86               Asad Shafiq
1344           28                  B Masaba
525            78               B Zuiderent
62             65                B de Leede
1532          191                   BR Dunk
1640          100                  CL White
642           120                  CR Foggo
1249           91            CR Suryawanshi
1339          200               CRM Douglas
1187          197                 DJ Harris
644             0                DJ Reekers
35            266                 DJM Short
...           ...                       ...
1785          100                Raza Iqbal
1693            0                    S Auma
529           100            S Matsikenyeri
1176           11                    S Naik
751             0                S Nitschke
672           254                  S Vidyut
846           225               SA Asnodkar
1126           80                  SA Fritz
133            44               SM Kavanagh
1439          444                 SO Tikolo
461            37                SP Fleming
268           125                SP Goswami
266           400                 SP Narine
864           139                 SR Taylor
171           214                 SS Tiwary
1144           91                  Sana Mir
1411          181             Sarfraz Ahmed
1747           92            Sharmin Akhter
1690          120         Suhan Alagaratnam
209            44          Sulaimon Runsewe
136             9                    T Ruma
1013           81         TA Kurukulasuriya
1762            0                TP Ludeman
475            86              TV Mufambisi
61            143                TWM Latham
1843          185                UT Khawaja
1484          134                 Umar Amin
483             6                  WW Hinds
612            33              Yasir Hameed
1275           56  Zeeshan Shehzad Siddiqui

[153 rows x 2 columns]

In [35]:
Strike.shape

(153, 2)

In [37]:
# Focus only on these dataset

Match1 = MergeData[['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

FinalMatchData1 = Match1[cols]
FinalMatchData1.head(6)

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0
5,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,T Muzarabani,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,0,0

In [57]:
# Feeling null values
FinalMatchData1[['Players_1']] = FinalMatchData1[['Players_1']].fillna('')
FinalMatchData1['Players_1'].fillna('No', inplace=True)

In [39]:
FinalMatchData1['Players_1'].isnull().sum()

0

In [58]:
# Focus only on these dataset

Match1 = MergeData[['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

FinalMatchDataAnaly= Match1[cols]
FinalMatchDataAnaly.head(6)

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0
5,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,T Muzarabani,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,0,0

In [41]:
FinalMatchDataAnaly.isnull().values.any()

True

In [42]:
FinalMatchDataAnaly['Players_1'].isnull().values.any()

True

In [43]:
Players_1 =FinalMatchDataAnaly.isnull().sum()
print (Players_1)

Players_1     46
Players_2     46
Players_3     46
Players_4     46
Players_5     46
Players_6     46
Players_7     46
Players_8     46
Players_9     46
Players_10    46
Players_11    46
Players_12    46
Players_13    46
Players_14    46
Players_15    46
Players_16    46
Players_17    46
Players_18    46
Players_19    46
Players_20    46
Players_21    46
Players_22    46
dtype: int64

In [44]:
FinalMatchDataAnaly = FinalMatchDataAnaly.dropna()

In [45]:
Players_1 = FinalMatchDataAnaly.isnull().sum()
print (Players_1)

Players_1     0
Players_2     0
Players_3     0
Players_4     0
Players_5     0
Players_6     0
Players_7     0
Players_8     0
Players_9     0
Players_10    0
Players_11    0
Players_12    0
Players_13    0
Players_14    0
Players_15    0
Players_16    0
Players_17    0
Players_18    0
Players_19    0
Players_20    0
Players_21    0
Players_22    0
dtype: int64

In [46]:
# Feature Engineering 
# Approach: If Players_1 will be in the Team2, label 1 will be assigned, else if Players_2 present, label 2 will be assigned.
# Converting players_1 and players_2  from categorical variables to continuous inputs using pandas 
#function pd.get_dummies. 
# This variable has only two answer choices: Players_1 and Players_2. 
# It creates a new dataframe which consists of zeros and ones. 
# Here dataframe will have a one depending on the player of a particular game in this case.


FinalMatchDataAnaly = FinalMatchDataAnaly.reset_index(drop=True)
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_1 == FinalMatchDataAnaly.Players_1,'Players1']=1
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_1 == FinalMatchDataAnaly.Players_2, 'Players1']=2

FinalMatchDataAnaly = FinalMatchDataAnaly.drop(['Players1'], axis=1)
FinalMatchDataAnaly.head()

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0

In [47]:
#convert Players_1 and Players_2 from categorical variables to continous inputs 

# Get dummy variables
final = pd.get_dummies(FinalMatchDataAnaly, prefix=['Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'], 
                       
                       columns=['Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'])
# Separate X and y sets
X = final.drop(['Players_1'], axis=1)
y = final["Players_1"]

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [48]:
final.head(12)

,Players_1,Players_2_A Bonora,Players_2_A Brindle,Players_2_A Khan,Players_2_A Poulose,Players_2_A Steyn,Players_2_AA Obanda,Players_2_AB Barath,Players_2_AB de Villiers,Players_2_AC Botha,...,Players_22_XJ Doherty,Players_22_YA Abdulla,Players_22_YK Pathan,Players_22_YS Chahal,Players_22_Yamin Ahmadzai,Players_22_Z Khan,Players_22_Zaheer Maqsood,Players_22_Zahid Hussain,Players_22_Zahoor Khan,Players_22_Zulfiqar Babar
0,G Malla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,C Carter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,KJ Coetzer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,KJ Coetzer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,PJ Moor,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,H Masakadza,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,H Masakadza,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,DM Gondaria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,L Siaka,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,MJ Guptill,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,MJ Guptill,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Tamim Iqbal,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 2. Accuracy

In [49]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)
 

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.740
Test set accuracy:  0.367

## 3. Evaluate the best model on the testing set


(Note: Now Strike Rate data set of each players will be used, Strike rate help to identify which player is better.)

In [61]:
#adding fixtures


# Loading new datasets

fixtures = pd.read_csv('fixtures2.csv')

# List for storing the group stage games
pred_set = []

In [62]:
# Create new columns with ranking position of each player columns
fixtures.insert(1, 'first_position', fixtures['Players_1'].map(Strike.set_index('Player')['Strike_Rate']))
fixtures.insert(2, 'second_position', fixtures['Players_2'].map(Strike.set_index('Player')['Strike_Rate']))

# We only need the group stage games
#slice the dataset

fixtures = fixtures.iloc[:50, :]
fixtures.tail()

,Players_1,first_position,second_position,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,Players_11,Players_12
45,KC Brathwaite,71.0,NaN,E Lewis,KOA Powell,SD Hope,JN Mohammed,JL Carter,JO Holder,CR Brathwaite,AR Nurse,ST Gabriel,D Bishoo,JJ Roy
46,JJ Roy,NaN,NaN,AD Hales,JE Root,JC Buttler,EJG Morgan,BA Stokes,MM Ali,CR Woakes,LE Plunkett,AU Rashid,ST Finn,KOA Powell
47,EC Joyce,NaN,NaN,PR Stirling,WTS Porterfield,A Balbirnie,NJ O'Brien,GC Wilson,KJ O'Brien,SR Thompson,GH Dockrell,TJ Murtagh,PKD Chase,JJ Roy
48,JJ Roy,NaN,NaN,AD Hales,JE Root,EJG Morgan,JM Bairstow,SW Billings,AU Rashid,DJ Willey,MA Wood,JT Ball,LE Plunkett,EC Joyce
49,JJ Roy,NaN,NaN,JM Vince,BM Duckett,JM Bairstow,BA Stokes,JC Buttler,MM Ali,CR Woakes,DJ Willey,JT Ball,AU Rashid,Tamim Iqbal

In [63]:
# Loop to add players to new prediction dataset based on the ranking position of each player column
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Players_1': row['Players_1'], 'Players_2': row['Players_2'], 'Team2': None})
    else:
        pred_set.append({'Players_1': row['Players_2'], 'Players_2': row['Players_1'], 'Team2': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

   Players_1   Players_2 Team2
0  AK Mandal     G Malla  None
1  AK Mandal    C Carter  None
2  AK Mandal  KJ Coetzer  None
3  AK Mandal  KJ Coetzer  None
4  AK Mandal     PJ Moor  None

In [64]:
# Get dummy variables and drop selected player column
pred_set = pd.get_dummies(pred_set, prefix=['Players_1', 'Players_2'], columns=['Players_1', 'Players_2'])
# Add missing columns compared to the model's training dataset
missing_cols2 = set(final.columns) - set(pred_set.columns)
for c in missing_cols2:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

pred_set = pred_set.drop(['Players_1'], axis=1)
pred_set.head()

,Players_2_A Bonora,Players_2_A Brindle,Players_2_A Khan,Players_2_A Poulose,Players_2_A Steyn,Players_2_AA Obanda,Players_2_AB Barath,Players_2_AB de Villiers,Players_2_AC Botha,Players_2_AC Douglas,...,Players_22_XJ Doherty,Players_22_YA Abdulla,Players_22_YK Pathan,Players_22_YS Chahal,Players_22_Yamin Ahmadzai,Players_22_Z Khan,Players_22_Zaheer Maqsood,Players_22_Zahid Hussain,Players_22_Zahoor Khan,Players_22_Zulfiqar Babar
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 4. Model Intepretation

In [56]:
predictions = rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 1:
        print("Players_1r: " + backup_pred_set.iloc[i, 1])
    else:
        print("Players_1: " + backup_pred_set.iloc[i, 0])
    print("")

G Malla and AK Mandal
Players_1: AK Mandal

C Carter and AK Mandal
Players_1: AK Mandal

KJ Coetzer and AK Mandal
Players_1: AK Mandal

KJ Coetzer and AK Mandal
Players_1: AK Mandal

PJ Moor and AK Mandal
Players_1: AK Mandal

H Masakadza and CJ Chibhabha
Players_1: CJ Chibhabha

H Masakadza and CJ Chibhabha
Players_1: CJ Chibhabha

IA Karim and DM Gondaria
Players_1: DM Gondaria

L Siaka and VV Morea
Players_1: VV Morea

MJ Guptill and TWM Latham
Players_1: TWM Latham

MJ Guptill and KS Williamson
Players_1: KS Williamson

Tamim Iqbal and Imrul Kayes
Players_1: Imrul Kayes

MJ Guptill and TWM Latham
Players_1: TWM Latham

DG Brownlie and TWM Latham
Players_1: TWM Latham

DG Brownlie and TWM Latham
Players_1: TWM Latham

Q de Kock and HM Amla
Players_1: HM Amla

HM Amla and Q de Kock
Players_1: Q de Kock

MJ Guptill and DG Brownlie
Players_1: DG Brownlie

Tamim Iqbal and Soumya Sarkar
Players_1: Soumya Sarkar

MJ Guptill and L Ronchi
Players_1: L Ronchi

HM Amla and Q de Kock
Players_1: Q de Kock

RG Sharma and S Dhawan
Players_1: S Dhawan

Tamim Iqbal and Soumya Sarkar
Players_1: Soumya Sarkar

JJ Roy and AD Hales
Players_1: AD Hales

Q de Kock and HM Amla
Players_1: HM Amla

RG Sharma and S Dhawan
Players_1: S Dhawan

MJ Guptill and L Ronchi
Players_1: L Ronchi

DA Warner and AJ Finch
Players_1: AJ Finch

Q de Kock and HM Amla
Players_1: HM Amla

N Dickwella and MD Gunathilaka
Players_1: MD Gunathilaka

JM Bairstow and AD Hales
Players_1: AD Hales

Azhar Ali and Fakhar Zaman
Players_1: Fakhar Zaman

JJ Peirson and BB McCullum
Players_1: BB McCullum

M Klinger and SM Whiteman
Players_1: SM Whiteman

KR Patterson and RJ Gibson
Players_1: RJ Gibson

DJM Short and TD Paine
Players_1: TD Paine

GJ Maxwell and LJ Wright
Players_1: LJ Wright

DP Hughes and MJ Lumb
Players_1: MJ Lumb

RJ Quiney and KP Pietersen
Players_1: KP Pietersen

MS Harris and AJ Finch
Players_1: AJ Finch

DP Hughes and MJ Lumb
Players_1: MJ Lumb

C Carter and KD Shah
Players_1: KD Shah

TP Ura and VV Morea
Players_1: VV Morea

TP Ura and VV Morea
Players_1: VV Morea

JJ Roy and SW Billings
Players_1: SW Billings

KC Brathwaite and E Lewis
Players_1: E Lewis

JJ Roy and AD Hales
Players_1: AD Hales

EC Joyce and PR Stirling
Players_1: PR Stirling

JJ Roy and AD Hales
Players_1: AD Hales

JJ Roy and JM Vince
Players_1: JM Vince

## 5. Final Model Prediction

In [203]:
# List of tuples before 
semi = [('A Balbirnie', 'AJ Doolan')]

In [204]:
def clean_and_predict(matches, Strike, final, logreg):

# Initialization of auxiliary list for data cleaning
    positions = []

 # Loop to retrieve each players position according to Strike Rate
    for match in matches:
        positions.append(Strike.loc[Strike['Player'] == match[0],'Strike_Rate'].iloc[0])
        positions.append(Strike.loc[Strike['Player'] == match[1],'Strike_Rate'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of Players (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first player is better then this player will be the 'Players_1', and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Players_1': matches[j][0], 'Players_2': matches[j][1]})
        else:
            dict1.update({'Players_1': matches[j][1], 'Players_2': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop Player column
    pred_set = pd.get_dummies(pred_set, prefix=['Players_1', 'Players_2'], columns=['Players_1', 'Players_2'])
    
    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Players_1'], axis=1)

    # Predict!
    #By using Logistic Regression
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Players_1r: " + backup_pred_set.iloc[i, 1])
        else:
            print("Players_1: " + backup_pred_set.iloc[i, 0])
        print("")

In [205]:
clean_and_predict(semi, Strike, final, rf)

AJ Doolan and A Balbirnie
Players_1: A Balbirnie