In [1]:

#import all libraries and dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
#Reading data from CSV file
matches=pd.read_csv("Match.csv")

In [4]:
matches.head()

,Match_id,Team1,Team2,Gender,Date,Season,Series/Competition,Match_number,Venue,City,...,Umpire1,Umpire2,Reserve_umpire,Tv_umpire,Match_referee,Winner,Winner_runs,Winner_wickets,Method,Outcome
0,1000887,Australia,Pakistan,male,1/13/2017,2016/17,Pakistan in Australia ODI Series,1.0,"""Brisbane Cricket Ground",Brisbane,...,MD Martell,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,92.0,NaN,NaN,NaN
1,1000889,Australia,Pakistan,male,1/15/2017,2016/17,Pakistan in Australia ODI Series,2.0,Melbourne Cricket Ground,NaN,...,CB Gaffaney,P Wilson,SJ Nogajski,C Shamshuddin,JJ Crowe,Pakistan,NaN,6.0,NaN,NaN
2,1000891,Australia,Pakistan,male,1/19/2017,2016/17,Pakistan in Australia ODI Series,3.0,Western Australia Cricket Association Ground,Perth,...,SD Fry,C Shamshuddin,P Wilson,CB Gaffaney,JJ Crowe,Australia,NaN,7.0,NaN,NaN
3,1000893,Australia,Pakistan,male,1/22/2017,2016/17,Pakistan in Australia ODI Series,4.0,Sydney Cricket Ground,NaN,...,CB Gaffaney,MD Martell,P Wilson,C Shamshuddin,JJ Crowe,Australia,86.0,NaN,NaN,NaN
4,1000895,Australia,Pakistan,male,1/26/2017,2016/17,Pakistan in Australia ODI Series,5.0,Adelaide Oval,NaN,...,SD Fry,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,57.0,NaN,NaN,NaN

In [5]:
matches.shape

(1951, 24)

In [6]:
matches.isnull().sum()

Match_id                 0
Team1                    0
Team2                    0
Gender                   0
Date                     0
Season                   0
Series/Competition      30
Match_number           247
Venue                    0
City                   287
Neutral_venue         1434
Toss_winner              0
Toss_decision            0
Player_of_match        142
Umpire1                  0
Umpire2                  0
Reserve_umpire         160
Tv_umpire              414
Match_referee           37
Winner                  69
Winner_runs           1053
Winner_wickets         967
Method                1794
Outcome               1882
dtype: int64

In [7]:
matches = matches.drop(['Outcome','Method','Match_referee','Toss_decision','Toss_winner','Neutral_venue',
        'Series/Competition','Gender','Date','Season','City','Venue','Umpire1','Umpire2','Reserve_umpire','Tv_umpire'], axis=1)

In [8]:
matches.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN

In [9]:
#Reading data from CSV file
pfmce=pd.read_csv("Player_performance.csv")

In [10]:
pfmce.head()

,Unnamed: 0,Match_id,Players_1,BattingOrder_1,inning_bat_1,Bat_Bowler_1,Bat_Dismissal_1,Bat_Runs_1,4s_1,6s_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,0,1004261,G Malla,1,1,T van der Gugten,bowled,11,2,0,...,-,-,-,-,-,-,-,-,-,-
1,1,1004269,C Carter,1,1,LN Oluoch,caught,41,4,1,...,Kenya,1,6.1,29,3,0,0,-,-,-
2,2,1004283,KJ Coetzer,1,1,Ehsan Khan,lbw,53,6,2,...,-,-,-,-,-,-,-,-,-,-
3,3,1004285,KJ Coetzer,1,1,Tanveer Ahmed,caught and bowled,48,8,2,...,Hong Kong,1,10,46,3,1,7,-,-,-
4,4,1007649,PJ Moor,1,1,BB Sran,lbw,3,0,0,...,-,-,-,-,-,-,-,-,-,-

In [11]:
pfmce.shape()

TypeError: 'tuple' object is not callable

In [12]:
pfmce.isnull().sum()

Unnamed: 0          0
Match_id            0
Players_1           0
BattingOrder_1      0
inning_bat_1        0
Bat_Bowler_1        0
Bat_Dismissal_1     0
Bat_Runs_1          0
4s_1                0
6s_1                0
Ball Faced_1        0
Dots_1              0
BattingTeam_1       0
inning_bowl_1       0
Over_1              0
Runs_1              0
Wicket_1            0
Maiden_1            0
extra_1             0
fowRuns_1           0
wicketNumber_1      0
fowOver_1           0
Players_2           0
BattingOrder_2      0
inning_bat_2        0
Bat_Bowler_2        0
Bat_Dismissal_2     0
Bat_Runs_2          0
4s_2                0
6s_2                0
                   ..
BattingTeam_21      0
inning_bowl_21      0
Over_21             0
Runs_21             0
Wicket_21           0
Maiden_21           0
extra_21            0
fowRuns_21          0
wicketNumber_21     0
fowOver_21          0
Players_22          0
BattingOrder_22     0
inning_bat_22       0
Bat_Bowler_22       0
Bat_Dismissal_22    0
Bat_Runs_22         0
4s_22               0
6s_22               0
Ball Faced_22       0
Dots_22             0
BattingTeam_22      0
inning_bowl_22      0
Over_22             0
Runs_22             0
Wicket_22           0
Maiden_22           0
extra_22            0
fowRuns_22          0
wicketNumber_22     0
fowOver_22          0
Length: 442, dtype: int64

In [13]:
pfmce = pfmce.drop(['Unnamed: 0'], axis=1)

In [14]:
pfmce.shape

(1905, 441)

In [15]:
#Merge the 2 tables
MergeData= pd.concat([matches,pfmce],axis=1)
MergeData.shape

(1951, 449)

In [16]:
MergeData.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Match_id,Players_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,1004261.0,G Malla,...,-,-,-,-,-,-,-,-,-,-
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,1004269.0,C Carter,...,Kenya,1,6.1,29,3,0,0,-,-,-
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,1004283.0,KJ Coetzer,...,-,-,-,-,-,-,-,-,-,-
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,1004285.0,KJ Coetzer,...,Hong Kong,1,10,46,3,1,7,-,-,-
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,1007649.0,PJ Moor,...,-,-,-,-,-,-,-,-,-,-

In [17]:
MergeData.columns

Index(['Match_id', 'Team1', 'Team2', 'Match_number', 'Player_of_match',
       'Winner', 'Winner_runs', 'Winner_wickets', 'Match_id', 'Players_1',
       ...
       'BattingTeam_22', 'inning_bowl_22', 'Over_22', 'Runs_22', 'Wicket_22',
       'Maiden_22', 'extra_22', 'fowRuns_22', 'wicketNumber_22', 'fowOver_22'],
      dtype='object', length=449)

In [18]:
# CHhecking any null values
missing_values_check = MergeData.isnull().sum()
print(missing_values_check)

Match_id               0
Team1                  0
Team2                  0
Match_number         247
Player_of_match      142
Winner                69
Winner_runs         1053
Winner_wickets       967
Match_id              46
Players_1             46
BattingOrder_1        46
inning_bat_1          46
Bat_Bowler_1          46
Bat_Dismissal_1       46
Bat_Runs_1            46
4s_1                  46
6s_1                  46
Ball Faced_1          46
Dots_1                46
BattingTeam_1         46
inning_bowl_1         46
Over_1                46
Runs_1                46
Wicket_1              46
Maiden_1              46
extra_1               46
fowRuns_1             46
wicketNumber_1        46
fowOver_1             46
Players_2             46
                    ...
BattingTeam_21        46
inning_bowl_21        46
Over_21               46
Runs_21               46
Wicket_21             46
Maiden_21             46
extra_21              46
fowRuns_21            46
wicketNumber_21       46
fowOver_21            46
Players_22            46
BattingOrder_22       46
inning_bat_22         46
Bat_Bowler_22         46
Bat_Dismissal_22      46
Bat_Runs_22           46
4s_22                 46
6s_22                 46
Ball Faced_22         46
Dots_22               46
BattingTeam_22        46
inning_bowl_22        46
Over_22               46
Runs_22               46
Wicket_22             46
Maiden_22             46
extra_22              46
fowRuns_22            46
wicketNumber_22       46
fowOver_22            46
Length: 449, dtype: int64

In [19]:
# Remove row_id
MergeData = MergeData.drop(['Match_id'], axis=1)

In [20]:
MergeData.head(10)

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Players_1,BattingOrder_1,inning_bat_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,G Malla,1.0,1.0,...,-,-,-,-,-,-,-,-,-,-
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,C Carter,1.0,1.0,...,Kenya,1,6.1,29,3,0,0,-,-,-
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,KJ Coetzer,1.0,1.0,...,-,-,-,-,-,-,-,-,-,-
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,KJ Coetzer,1.0,1.0,...,Hong Kong,1,10,46,3,1,7,-,-,-
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,PJ Moor,1.0,1.0,...,-,-,-,-,-,-,-,-,-,-
5,Australia,New Zealand,1.0,SPD Smith,Australia,68.0,NaN,H Masakadza,1.0,1.0,...,-,-,-,-,-,-,-,-,-,-
6,Australia,New Zealand,2.0,DA Warner,Australia,116.0,NaN,H Masakadza,1.0,1.0,...,-,-,-,-,-,-,-,-,-,-
7,Australia,New Zealand,3.0,DA Warner,Australia,117.0,NaN,DM Gondaria,1.0,1.0,...,-,-,-,-,-,-,-,-,-,-
8,Scotland,Afghanistan,1.0,NaN,NaN,NaN,NaN,L Siaka,1.0,1.0,...,Kenya,1,6,41,0,1,0,228,10,47.5
9,Scotland,Afghanistan,2.0,NaN,Afghanistan,78.0,NaN,MJ Guptill,1.0,1.0,...,Bangladesh,1,10,60,2,0,4,264,10,44.6

In [49]:
# Focus only on these datasets

Match1 = MergeData[['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

FinalMatchData1 = Match1[cols]
FinalMatchData1.head(6)

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,-,-
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,-,-,-
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,-,-,-
5,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,T Muzarabani,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,-,-

In [50]:
# Feeling null values of Winner
FinalMatchData1[['Players_1']] = FinalMatchData1[['Players_1']].fillna('')
FinalMatchData1['Players_1'].fillna('No', inplace=True)

In [51]:
FinalMatchData1['Players_1'].isnull().sum()

0

In [52]:
# Focus only on these datasets

Match1 = MergeData[['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

FinalMatchDataAnaly= Match1[cols]
FinalMatchDataAnaly.head(6)

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,-,-
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,-,-,-
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,-,-,-
5,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,T Muzarabani,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,-,-

In [53]:
FinalMatchDataAnaly.isnull().values.any()

True

In [54]:
FinalMatchDataAnaly['Players_1'].isnull().values.any()

True

In [55]:
Players_1 =FinalMatchDataAnaly.isnull().sum()
print (Players_1)

Players_1     46
Players_2     46
Players_3     46
Players_4     46
Players_5     46
Players_6     46
Players_7     46
Players_8     46
Players_9     46
Players_10    46
Players_11    46
Players_12    46
Players_13    46
Players_14    46
Players_15    46
Players_16    46
Players_17    46
Players_18    46
Players_19    46
Players_20    46
Players_21    46
Players_22    46
dtype: int64

In [56]:
FinalMatchDataAnaly = FinalMatchDataAnaly.dropna()

In [57]:
Players_1 = FinalMatchDataAnaly.isnull().sum()
print (Players_1)

Players_1     0
Players_2     0
Players_3     0
Players_4     0
Players_5     0
Players_6     0
Players_7     0
Players_8     0
Players_9     0
Players_10    0
Players_11    0
Players_12    0
Players_13    0
Players_14    0
Players_15    0
Players_16    0
Players_17    0
Players_18    0
Players_19    0
Players_20    0
Players_21    0
Players_22    0
dtype: int64

In [59]:
# Feature Engineering 
# Approach: If team1 won the match, label 1 will be assigned, else if team2 won, label 2 will be assigned.
# Converting team1 and team2 from categorical variables to continuous inputs using pandas function pd.get_dummies. 
# This variable has only two answer choices: team1 and team2. 
# It creates a new dataframe which consists of zeros and ones. 
# Here dataframe will have a one depending on the team of a particular game in this case.


FinalMatchDataAnaly = FinalMatchDataAnaly.reset_index(drop=True)
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_1 == FinalMatchDataAnaly.Players_1,'Players1']=1
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_1 == FinalMatchDataAnaly.Players_2, 'Players1']=2
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_1 == FinalMatchDataAnaly.Players_3, 'Players1']=3
FinalMatchDataAnaly = FinalMatchDataAnaly.drop(['Players1'], axis=1)
FinalMatchDataAnaly.head()

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,-,-
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,-,-,-
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,-,-,-

In [61]:
#convert team-1 and team-2 from categorical variables to continous inputs 

# Get dummy variables
final = pd.get_dummies(FinalMatchDataAnaly, prefix=['Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'], columns=['Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'])
# Separate X and y sets
X = final.drop(['Players_1'], axis=1)
y = final["Players_1"]

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [62]:
final.head(12)

,Players_1,Players_2_A Bonora,Players_2_A Brindle,Players_2_A Khan,Players_2_A Poulose,Players_2_A Steyn,Players_2_AA Obanda,Players_2_AB Barath,Players_2_AB de Villiers,Players_2_AC Botha,...,Players_22_XJ Doherty,Players_22_YA Abdulla,Players_22_YK Pathan,Players_22_YS Chahal,Players_22_Yamin Ahmadzai,Players_22_Z Khan,Players_22_Zaheer Maqsood,Players_22_Zahid Hussain,Players_22_Zahoor Khan,Players_22_Zulfiqar Babar
0,G Malla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,C Carter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,KJ Coetzer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,KJ Coetzer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,PJ Moor,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,H Masakadza,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,H Masakadza,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,DM Gondaria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,L Siaka,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,MJ Guptill,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,MJ Guptill,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Tamim Iqbal,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)
 

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.740
Test set accuracy:  0.367

In [87]:
#adding ICC rantings
#the team which is positioned higher on the ICC Ranking will be considered "favourite" for the match
#and therefore, will be positioned under the "Team_1" column

# Loading new datasets
strike = pd.read_csv('strike.csv') 
fixtures = pd.read_csv('fixtures2.csv')

# List for storing the group stage games
pred_set = []

In [88]:
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Players_1'].map(strike.set_index('Player')['Strike']))
fixtures.insert(2, 'second_position', fixtures['Players_2'].map(strike.set_index('Player')['Strike']))
fixtures.insert(2, 'third_position', fixtures['Players_3'].map(strike.set_index('Player')['Strike']))

# We only need the group stage games
#slice the dataset

fixtures = fixtures.iloc[:50, :]
fixtures.tail()

,Players_1,first_position,third_position,second_position,Players_2,Players_3
45,KC Brathwaite,NaN,NaN,NaN,E Lewis,KOA Powell
46,JJ Roy,NaN,NaN,NaN,AD Hales,JE Root
47,EC Joyce,NaN,NaN,NaN,PR Stirling,WTS Porterfield
48,JJ Roy,NaN,NaN,NaN,AD Hales,JE Root
49,JJ Roy,NaN,NaN,NaN,JM Vince,BM Duckett

In [89]:
# Loop to add teams to new prediction dataset based on the ranking position of each team
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Players_1': row['Players_1'], 'Players_2': row['Players_2'], 'Team2': None})
    else:
        pred_set.append({'Players_1': row['Players_2'], 'Players_2': row['Players_1'], 'Team2': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

      Players_1   Players_2 Team2
0     AK Mandal     G Malla  None
1       KD Shah    C Carter  None
2    CD Wallace  KJ Coetzer  None
3      MH Cross  KJ Coetzer  None
4  CJ Chibhabha     PJ Moor  None

In [90]:
# List of tuples before 
semi = [('C Carter', 'PJ Moor'),('DG Brownlie', 'DM Gondaria')]

In [91]:
def clean_and_predict(matches, strike, final, logreg):

# Initialization of auxiliary list for data cleaning
    positions = []

 # Loop to retrieve each team's position according to ICC ranking
    for match in matches:
        positions.append(strike.loc[strike['Player'] == match[0],'Strike'].iloc[0])
        positions.append(strike.loc[strike['Player'] == match[1],'Strike'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better then this team will be the 'Team_1' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Players_1': matches[j][0], 'Players_2': matches[j][1]})
        else:
            dict1.update({'Players_1': matches[j][1], 'Players_2': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['Players_1', 'Players_2'], columns=['Players_1', 'Players_2'])
    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Players_1'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Players_1r: " + backup_pred_set.iloc[i, 1])
        else:
            print("Players_1: " + backup_pred_set.iloc[i, 0])
        print("")

In [92]:
clean_and_predict(semi, strike, final, rf)

C Carter and PJ Moor
Players_1: PJ Moor

DG Brownlie and DM Gondaria
Players_1: DM Gondaria

In [ ]:
MatchAnaly1.head()

In [ ]:
MatchAnaly1['Team1'].isnull().sum()

In [ ]:
MergeData.head()

In [ ]:
MergeData.columns

In [ ]:
# CHhecking any null values
missing_values_check = MergeData.isnull().sum()
print(missing_values_check)

In [ ]:
# Focus only on these datasets

Match2 = MergeData[['Team1','Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Team1','Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

MatchAnaly2 = Match2[cols]
MatchAnaly2.head(6)

In [ ]:
MatchAnaly2.isnull().values.any()

In [ ]:
MatchAnaly2['Players_1'].isnull().values.any()

In [ ]:
Players_1 = MatchAnaly2.isnull().sum()
print (Players_1)

In [ ]:
MatchAnaly2 = MatchAnaly2.dropna()

In [ ]:
Players_1 = MatchAnaly2.isnull().sum()
print (Players_1)

In [ ]:
# Feature Engineering 
# Approach: If team1 won the match, label 1 will be assigned, else if team2 won, label 2 will be assigned.
# Converting team1 and team2 from categorical variables to continuous inputs using pandas function pd.get_dummies. 
# This variable has only two answer choices: team1 and team2. 
# It creates a new dataframe which consists of zeros and ones. 
# Here dataframe will have a one depending on the team of a particular game in this case.


MatchAnaly2 = MatchAnaly2.reset_index(drop=True)
MatchAnaly2.loc[MatchAnaly2.Team1 == MatchAnaly2.Players_1,'Team_1']=1
MatchAnaly2.loc[MatchAnaly2.Team1 == MatchAnaly2.Players_2, 'Team_1']=2
MatchAnaly2.loc[MatchAnaly2.Team1 == MatchAnaly2.Players_3, 'Team_1']=3
MatchAnaly2 = MatchAnaly2.drop(['Team_1'], axis=1)
MatchAnaly2.head()

In [ ]:
#convert team-1 and team-2 from categorical variables to continous inputs 

# Get dummy variables
final1 = pd.get_dummies(MatchAnaly2, prefix=['Players_1', 'Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'], columns=['Players_1', 'Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'])
# Separate X and y sets
X = final1.drop(['Team1'], axis=1)
y = final1["Team1"]

# Separate train and test sets
X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
final1.head()

In [ ]:
rf1 = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0)
rf1.fit(X_train1, y_train1) 


score3 = rf.score(X_train1, y_train1)
score4 = rf.score(X_test1, y_test1)


print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

In [ ]:

MatchAnaly2 = pd.get_dummies(MatchAnaly2, prefix=['Players_1', 'Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'], columns=['Players_1', 'Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'])

missing_cols = set(final.columns) - set(MatchAnaly2.columns)
for c in missing_cols:
    MatchAnaly2[c] = 0
MatchAnaly2 = MatchAnaly2[final.columns]


MatchAnaly2 =MatchAnaly2.drop(['Team1'], axis=1)
MatchAnaly2.head()

In [56]:
import sys 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

a=input("Enter the no of batsmen you want in indian team (between 5 to 7)\n")
a=int(a)
c=input("Enter the no of bowlers you want in indian team (not more than 6)\n")
c=int(c)

if a+c!=11:
    print("We need exactly 11 players to predict the best 11 players")
    sys.exit()
    
x= FinalMatchData1.iloc[20:29,[1,4,6,8]].values
y= FinalMatchData1.iloc[20:29,0].values
               
#fitting simple linear regression to the training set
#feature scalling
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()
x=sc.fit_transform(x)

#predicting the test set resuts
#y_pred=classfier.predic

from sklearn.svm import SVC
df=SVC(kernel='rbf',random_state=0)
df.fit(x,y)
y_pred=df.predict(x)

s= []
for i in y_pred:
    if i not in s:
        s.append(i)
batsman=[]

for i in range(0,a):
    batsman.append(s[i])
    
#for bowlers
datas=pd.read_excel('Match.csv')

d= datas.iloc[[20,21,22,23,24,25,26],[2,3,5,8]].values
e= datas.iloc[[20,21,22,23,24,25,26],0].values
                 
#c=input("enter the no of bowlers you want in indian team (not more than 6)\n")
#c=int(c)
             
#fitting simple linear regression to the training set
#feature scalling
from sklearn.preprocessing import StandardScaler
 
sc=StandardScaler()
d=sc.fit_transform(d)
 
#predicting the test set resuts
#y_pred=classfier.predic

from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(d,e)
e_pred=classifier.predict(d)                        
                         
f = []
for i in e_pred:
    if i not in f:
        f.append(i)
bowler=[]
for i in range(0,c): 
    bowler.append(f[i])
                             
best=[]
for i in range(0,a):
    best.append(batsman[i])
    
for i in range(0,c):
    best.append(bowler[i])
    
print('The final list of best 11 players of the Indian cricket team is as follows \n' )
for i in range(0,11):
    print(best[i])  #to print the total no of players

Enter the no of batsmen you want in indian team (between 5 to 7)
6
Enter the no of bowlers you want in indian team (not more than 6)
5

ValueError: The number of classes has to be greater than one; got 1 class