In [1]:

#import all libraries and dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
#Reading data from CSV file
matches=pd.read_csv("Match.csv")

In [3]:
matches.head()

,Match_id,Team1,Team2,Gender,Date,Season,Series/Competition,Match_number,Venue,City,...,Umpire1,Umpire2,Reserve_umpire,Tv_umpire,Match_referee,Winner,Winner_runs,Winner_wickets,Method,Outcome
0,1000887,Australia,Pakistan,male,1/13/2017,2016/17,Pakistan in Australia ODI Series,1.0,"""Brisbane Cricket Ground",Brisbane,...,MD Martell,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,92.0,NaN,NaN,NaN
1,1000889,Australia,Pakistan,male,1/15/2017,2016/17,Pakistan in Australia ODI Series,2.0,Melbourne Cricket Ground,NaN,...,CB Gaffaney,P Wilson,SJ Nogajski,C Shamshuddin,JJ Crowe,Pakistan,NaN,6.0,NaN,NaN
2,1000891,Australia,Pakistan,male,1/19/2017,2016/17,Pakistan in Australia ODI Series,3.0,Western Australia Cricket Association Ground,Perth,...,SD Fry,C Shamshuddin,P Wilson,CB Gaffaney,JJ Crowe,Australia,NaN,7.0,NaN,NaN
3,1000893,Australia,Pakistan,male,1/22/2017,2016/17,Pakistan in Australia ODI Series,4.0,Sydney Cricket Ground,NaN,...,CB Gaffaney,MD Martell,P Wilson,C Shamshuddin,JJ Crowe,Australia,86.0,NaN,NaN,NaN
4,1000895,Australia,Pakistan,male,1/26/2017,2016/17,Pakistan in Australia ODI Series,5.0,Adelaide Oval,NaN,...,SD Fry,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,57.0,NaN,NaN,NaN

In [4]:
matches.shape

(1951, 24)

In [5]:
matches.isnull().sum()

Match_id                 0
Team1                    0
Team2                    0
Gender                   0
Date                     0
Season                   0
Series/Competition      30
Match_number           247
Venue                    0
City                   287
Neutral_venue         1434
Toss_winner              0
Toss_decision            0
Player_of_match        142
Umpire1                  0
Umpire2                  0
Reserve_umpire         160
Tv_umpire              414
Match_referee           37
Winner                  69
Winner_runs           1053
Winner_wickets         967
Method                1794
Outcome               1882
dtype: int64

In [6]:
matches = matches.drop(['Outcome','Method','Match_referee','Toss_decision','Toss_winner','Neutral_venue',
        'Series/Competition','Gender','Date','Season','City','Venue','Umpire1','Umpire2','Reserve_umpire','Tv_umpire'], axis=1)

In [7]:
matches.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN

In [8]:
#Reading data from CSV file
pfmce=pd.read_csv("Player_performance.csv")

In [9]:
pfmce.head()

,Unnamed: 0,Match_id,Players_1,BattingOrder_1,inning_bat_1,Bat_Bowler_1,Bat_Dismissal_1,Bat_Runs_1,4s_1,6s_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,0,1004261,G Malla,1,1,T van der Gugten,bowled,11,2,0,...,0,0,0.0,0,0,0,0,0,0,0.0
1,1,1004269,C Carter,1,1,LN Oluoch,caught,41,4,1,...,Kenya,1,6.1,29,3,0,0,0,0,0.0
2,2,1004283,KJ Coetzer,1,1,Ehsan Khan,lbw,53,6,2,...,0,0,0.0,0,0,0,0,0,0,0.0
3,3,1004285,KJ Coetzer,1,1,Tanveer Ahmed,caught and bowled,48,8,2,...,Hong Kong,1,10.0,46,3,1,7,0,0,0.0
4,4,1007649,PJ Moor,1,1,BB Sran,lbw,3,0,0,...,0,0,0.0,0,0,0,0,0,0,0.0

In [10]:
pfmce.shape()

TypeError: 'tuple' object is not callable

In [11]:
pfmce.isnull().sum()

Unnamed: 0          0
Match_id            0
Players_1           0
BattingOrder_1      0
inning_bat_1        0
Bat_Bowler_1        0
Bat_Dismissal_1     0
Bat_Runs_1          0
4s_1                0
6s_1                0
Ball Faced_1        0
Dots_1              0
BattingTeam_1       0
inning_bowl_1       0
Over_1              0
Runs_1              0
Wicket_1            0
Maiden_1            0
extra_1             0
fowRuns_1           0
wicketNumber_1      0
fowOver_1           0
Players_2           0
BattingOrder_2      0
inning_bat_2        0
Bat_Bowler_2        0
Bat_Dismissal_2     0
Bat_Runs_2          0
4s_2                0
6s_2                0
                   ..
BattingTeam_21      0
inning_bowl_21      0
Over_21             0
Runs_21             0
Wicket_21           0
Maiden_21           0
extra_21            0
fowRuns_21          0
wicketNumber_21     0
fowOver_21          0
Players_22          0
BattingOrder_22     0
inning_bat_22       0
Bat_Bowler_22       0
Bat_Dismissal_22    0
Bat_Runs_22         0
4s_22               0
6s_22               0
Ball Faced_22       0
Dots_22             0
BattingTeam_22      0
inning_bowl_22      0
Over_22             0
Runs_22             0
Wicket_22           0
Maiden_22           0
extra_22            0
fowRuns_22          0
wicketNumber_22     0
fowOver_22          0
Length: 442, dtype: int64

In [12]:
pfmce = pfmce.drop(['Unnamed: 0'], axis=1)

In [13]:
pfmce.shape

(1905, 441)

In [14]:
#Merge the 2 tables
MergeData= pd.concat([matches,pfmce],axis=1)
MergeData.shape

(1951, 449)

In [15]:
MergeData.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Match_id,Players_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,1004261.0,G Malla,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,1004269.0,C Carter,...,Kenya,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,1004283.0,KJ Coetzer,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,1004285.0,KJ Coetzer,...,Hong Kong,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,1007649.0,PJ Moor,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
MergeData.columns

Index(['Match_id', 'Team1', 'Team2', 'Match_number', 'Player_of_match',
       'Winner', 'Winner_runs', 'Winner_wickets', 'Match_id', 'Players_1',
       ...
       'BattingTeam_22', 'inning_bowl_22', 'Over_22', 'Runs_22', 'Wicket_22',
       'Maiden_22', 'extra_22', 'fowRuns_22', 'wicketNumber_22', 'fowOver_22'],
      dtype='object', length=449)

In [17]:
# CHhecking any null values
missing_values_check = MergeData.isnull().sum()
print(missing_values_check)

Match_id               0
Team1                  0
Team2                  0
Match_number         247
Player_of_match      142
Winner                69
Winner_runs         1053
Winner_wickets       967
Match_id              46
Players_1             46
BattingOrder_1        46
inning_bat_1          46
Bat_Bowler_1          46
Bat_Dismissal_1       46
Bat_Runs_1            46
4s_1                  46
6s_1                  46
Ball Faced_1          46
Dots_1                46
BattingTeam_1         46
inning_bowl_1         46
Over_1                46
Runs_1                46
Wicket_1              46
Maiden_1              46
extra_1               46
fowRuns_1             46
wicketNumber_1        46
fowOver_1             46
Players_2             46
                    ...
BattingTeam_21        46
inning_bowl_21        46
Over_21               46
Runs_21               46
Wicket_21             46
Maiden_21             46
extra_21              46
fowRuns_21            46
wicketNumber_21       46
fowOver_21            46
Players_22            46
BattingOrder_22       46
inning_bat_22         46
Bat_Bowler_22         46
Bat_Dismissal_22      46
Bat_Runs_22           46
4s_22                 46
6s_22                 46
Ball Faced_22         46
Dots_22               46
BattingTeam_22        46
inning_bowl_22        46
Over_22               46
Runs_22               46
Wicket_22             46
Maiden_22             46
extra_22              46
fowRuns_22            46
wicketNumber_22       46
fowOver_22            46
Length: 449, dtype: int64

In [18]:
# Remove row_id
MergeData = MergeData.drop(['Match_id'], axis=1)

In [19]:
MergeData.head(10)

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Players_1,BattingOrder_1,inning_bat_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,G Malla,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,C Carter,1.0,1.0,...,Kenya,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,KJ Coetzer,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,KJ Coetzer,1.0,1.0,...,Hong Kong,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,PJ Moor,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Australia,New Zealand,1.0,SPD Smith,Australia,68.0,NaN,H Masakadza,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Australia,New Zealand,2.0,DA Warner,Australia,116.0,NaN,H Masakadza,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Australia,New Zealand,3.0,DA Warner,Australia,117.0,NaN,DM Gondaria,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Scotland,Afghanistan,1.0,NaN,NaN,NaN,NaN,L Siaka,1.0,1.0,...,Kenya,1.0,6.0,41.0,0.0,1.0,0.0,228.0,10.0,47.5
9,Scotland,Afghanistan,2.0,NaN,Afghanistan,78.0,NaN,MJ Guptill,1.0,1.0,...,Bangladesh,1.0,10.0,60.0,2.0,0.0,4.0,264.0,10.0,44.6

In [20]:
# Focus only on these datasets

Match1 = MergeData[['Team1','Team2','Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Team1','Team2','Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

MatchAnaly1 = Match1[cols]
MatchAnaly1.head(6)

,Team1,Team2,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,Australia,Pakistan,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,Australia,Pakistan,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,Australia,Pakistan,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,Australia,Pakistan,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,Australia,Pakistan,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0
5,Australia,New Zealand,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,0,0

In [23]:
MatchAnaly1.corr

<bound method DataFrame.corr of                             Team1                        Team2    Players_1  \
0                       Australia                     Pakistan      G Malla
1                       Australia                     Pakistan     C Carter
2                       Australia                     Pakistan   KJ Coetzer
3                       Australia                     Pakistan   KJ Coetzer
4                       Australia                     Pakistan      PJ Moor
5                       Australia                  New Zealand  H Masakadza
6                       Australia                  New Zealand  H Masakadza
7                       Australia                  New Zealand  DM Gondaria
8                        Scotland                  Afghanistan      L Siaka
9                        Scotland                  Afghanistan   MJ Guptill
10               Papua New Guinea                      Namibia   MJ Guptill
11               Papua New Guinea                      Namibia  Tamim Iqbal
12                    Netherlands                        Nepal   MJ Guptill
13                          Kenya                    Hong Kong  DG Brownlie
14                       Scotland                    Hong Kong  DG Brownlie
15                       Scotland                    Hong Kong    Q de Kock
16                       Zimbabwe                        India      HM Amla
17                       Zimbabwe                        India   MJ Guptill
18                       Zimbabwe                        India  Tamim Iqbal
19               Papua New Guinea                        Kenya   MJ Guptill
20               Papua New Guinea                        Kenya      HM Amla
21                    New Zealand                   Bangladesh    RG Sharma
22                    New Zealand                   Bangladesh  Tamim Iqbal
23                    New Zealand                   Bangladesh       JJ Roy
24                    New Zealand                    Australia    Q de Kock
25                    New Zealand                 South Africa    RG Sharma
26                    New Zealand                 South Africa   MJ Guptill
27                    New Zealand                 South Africa    DA Warner
28                    New Zealand                 South Africa    Q de Kock
29                    New Zealand                 South Africa  N Dickwella
...                           ...                          ...          ...
1921                     Malaysia                    Singapore          NaN
1922                     Guernsey                     Tanzania          NaN
1923                      Nigeria                         Oman          NaN
1924                       Jersey                     Tanzania          NaN
1925                         Oman                     Tanzania          NaN
1926                     Tanzania                      Vanuatu          NaN
1927                       Jersey                      Nigeria          NaN
1928                     Guernsey                         Oman          NaN
1929                       Jersey                         Oman          NaN
1930      Rising Pune Supergiants  Royal Challengers Bangalore          NaN
1931             Delhi Daredevils               Mumbai Indians          NaN
1932                Gujarat Lions  Royal Challengers Bangalore          NaN
1933          Sunrisers Hyderabad  Royal Challengers Bangalore          NaN
1934              Kings XI Punjab             Delhi Daredevils          NaN
1935        Kolkata Knight Riders                Gujarat Lions          NaN
1936              Kings XI Punjab  Royal Challengers Bangalore          NaN
1937  Royal Challengers Bangalore               Mumbai Indians          NaN
1938          Sunrisers Hyderabad             Delhi Daredevils          NaN
1939        Kolkata Knight Riders  Royal Challengers Bangalore          NaN
1940                Gujarat Lions          Sunrisers Hyderabad          NaN
1941                    Sri Lanka                    Australia          NaN
1942                    Sri Lanka                    Australia          NaN
1943                    Sri Lanka                    Australia          NaN
1944                    Sri Lanka                    Australia          NaN
1945                    Sri Lanka                    Australia          NaN
1946                      Ireland                  Afghanistan          NaN
1947                      Ireland                  Afghanistan          NaN
1948                      Ireland                  Afghanistan          NaN
1949                     Scotland         United Arab Emirates          NaN
1950                     Scotland         United Arab Emirates          NaN

           Players_2      Players_3        Players_4        Players_5  \
0          AK Mandal     S Vesawkar         P Khadka        Sagar Pun
1            KD Shah    Babar Hayat     Nizakat Khan    Anshuman Rath
2         CD Wallace     CS MacLeod         MH Cross    RD Berrington
3           MH Cross     CS MacLeod         MA Leask    RD Berrington
4       CJ Chibhabha    H Masakadza        CR Ervine        V Sibanda
5       CJ Chibhabha        PJ Moor        V Sibanda    Sikandar Raza
6       CJ Chibhabha      V Sibanda         T Maruma        MN Waller
7           IA Karim        MA Ouma         CO Obuya         RR Patel
8           VV Morea         A Vala            S Bau           MD Dai
9         TWM Latham  KS Williamson         NT Broom      JDS Neesham
10     KS Williamson     TWM Latham         NT Broom      JDS Neesham
11       Imrul Kayes  Sabbir Rahman      Mahmudullah  Shakib Al Hasan
12        TWM Latham  KS Williamson      LRPL Taylor         NT Broom
13        TWM Latham  KS Williamson      LRPL Taylor         NT Broom
14        TWM Latham  KS Williamson      LRPL Taylor         NT Broom
15           HM Amla   F du Plessis   AB de Villiers        JP Duminy
16         Q de Kock   F du Plessis        JP Duminy   AB de Villiers
17       DG Brownlie  KS Williamson         L Ronchi      LRPL Taylor
18     Soumya Sarkar    Imrul Kayes  Mushfiqur Rahim  Shakib Al Hasan
19          L Ronchi  KS Williamson      LRPL Taylor         NT Broom
20         Q de Kock   F du Plessis   AB de Villiers        DA Miller
21          S Dhawan        V Kohli     Yuvraj Singh        HH Pandya
22     Soumya Sarkar    Imrul Kayes  Mushfiqur Rahim  Shakib Al Hasan
23          AD Hales        JE Root       EJG Morgan        BA Stokes
24           HM Amla   F du Plessis   AB de Villiers        DA Miller
25          S Dhawan        V Kohli     Yuvraj Singh         MS Dhoni
26          L Ronchi  KS Williamson      LRPL Taylor         NT Broom
27          AJ Finch      SPD Smith     MC Henriques          TM Head
28           HM Amla   F du Plessis   AB de Villiers        DA Miller
29    MD Gunathilaka     BKG Mendis     LD Chandimal       AD Mathews
...              ...            ...              ...              ...
1921             NaN            NaN              NaN              NaN
1922             NaN            NaN              NaN              NaN
1923             NaN            NaN              NaN              NaN
1924             NaN            NaN              NaN              NaN
1925             NaN            NaN              NaN              NaN
1926             NaN            NaN              NaN              NaN
1927             NaN            NaN              NaN              NaN
1928             NaN            NaN              NaN              NaN
1929             NaN            NaN              NaN              NaN
1930             NaN            NaN              NaN              NaN
1931             NaN            NaN              NaN              NaN
1932             NaN            NaN              NaN              NaN
1933             NaN            NaN              NaN              NaN
1934             NaN            NaN              NaN              NaN
1935             NaN            NaN              NaN              NaN
1936             NaN            NaN              NaN              NaN
1937             NaN            NaN              NaN              NaN
1938             NaN            NaN              NaN              NaN
1939             NaN            NaN              NaN              NaN
1940             NaN            NaN              NaN              NaN
1941             NaN            NaN              NaN              NaN
1942             NaN            NaN              NaN              NaN
1943             NaN            NaN              NaN              NaN
1944             NaN            NaN              NaN              NaN
1945             NaN            NaN              NaN              NaN
1946             NaN            NaN              NaN              NaN
1947             NaN            NaN              NaN              NaN
1948             NaN            NaN              NaN              NaN
1949             NaN            NaN              NaN              NaN
1950             NaN            NaN              NaN              NaN

             Players_6      Players_7           Players_8        ...          \
0              R Rijal     B Bhandari         Sompal Kami        ...
1         Tanwir Afzal   Nadeem Ahmed          Aizaz Khan        ...
2           PL Mommsen    CD de Lange           SM Sharif        ...
3          CD de Lange     CD Wallace           SM Sharif        ...
4        Sikandar Raza   E Chigumbura         R Mutumbami        ...
5         E Chigumbura    R Mutumbami           AG Cremer        ...
6         E Chigumbura      AG Cremer           N Madziva        ...
7        Gurdeep Singh    NM Odhiambo         NN Odhiambo        ...
8            CJA Amini       JNT Vare             JB Reva        ...
9              C Munro       L Ronchi          MJ Santner        ...
10             C Munro       L Ronchi          MJ Santner        ...
11    Mosaddek Hossain    Nurul Hasan       Tanbir Hayder        ...
12             C Munro    JDS Neesham          MJ Santner        ...
13         JDS Neesham     MJ Santner     C de Grandhomme        ...
14         JDS Neesham     TG Southee            TA Boult        ...
15           DA Miller    D Pretorius          WD Parnell        ...
16           DA Miller    D Pretorius           CH Morris        ...
17         JDS Neesham     MJ Santner     C de Grandhomme        ...
18       Sabbir Rahman    Mahmudullah    Mosaddek Hossain        ...
19         JDS Neesham    CJ Anderson            AF Milne        ...
20           JP Duminy      CH Morris          WD Parnell        ...
21             B Kumar       UT Yadav           JJ Bumrah        ...
22       Sabbir Rahman    Mahmudullah  Mehedi Hasan Miraz        ...
23          JC Buttler         MM Ali           AU Rashid        ...
24           JP Duminy     WD Parnell           CH Morris        ...
25           HH Pandya      KM Jadhav           RA Jadeja        ...
26         JDS Neesham    CJ Anderson          MJ Santner        ...
27          GJ Maxwell        MS Wade            MA Starc        ...
28           JP Duminy      CH Morris      AL Phehlukwayo        ...
29         DM de Silva  DAS Gunaratne         NLTC Perera        ...
...                ...            ...                 ...        ...
1921               NaN            NaN                 NaN        ...
1922               NaN            NaN                 NaN        ...
1923               NaN            NaN                 NaN        ...
1924               NaN            NaN                 NaN        ...
1925               NaN            NaN                 NaN        ...
1926               NaN            NaN                 NaN        ...
1927               NaN            NaN                 NaN        ...
1928               NaN            NaN                 NaN        ...
1929               NaN            NaN                 NaN        ...
1930               NaN            NaN                 NaN        ...
1931               NaN            NaN                 NaN        ...
1932               NaN            NaN                 NaN        ...
1933               NaN            NaN                 NaN        ...
1934               NaN            NaN                 NaN        ...
1935               NaN            NaN                 NaN        ...
1936               NaN            NaN                 NaN        ...
1937               NaN            NaN                 NaN        ...
1938               NaN            NaN                 NaN        ...
1939               NaN            NaN                 NaN        ...
1940               NaN            NaN                 NaN        ...
1941               NaN            NaN                 NaN        ...
1942               NaN            NaN                 NaN        ...
1943               NaN            NaN                 NaN        ...
1944               NaN            NaN                 NaN        ...
1945               NaN            NaN                 NaN        ...
1946               NaN            NaN                 NaN        ...
1947               NaN            NaN                 NaN        ...
1948               NaN            NaN                 NaN        ...
1949               NaN            NaN                 NaN        ...
1950               NaN            NaN                 NaN        ...

          Players_13     Players_14       Players_15        Players_16  \
0         MJG Rippon      W Barresi        BN Cooper  RE van der Merwe
1          AA Obanda    DM Gondaria         RR Patel          CO Obuya
2         Aizaz Khan    Babar Hayat    Anshuman Rath        Ehsan Khan
3         Aizaz Khan    Babar Hayat     Nizakat Khan     Anshuman Rath
4            KK Nair      AT Rayudu      DS Kulkarni           BB Sran
5            KK Nair      AT Rayudu        MK Pandey           BB Sran
6           FY Fazal        BB Sran      DS Kulkarni         JJ Bumrah
7           VV Morea         A Vala            S Bau            MD Dai
8           IA Karim       RN Patel         RR Patel          CO Obuya
9        Imrul Kayes  Soumya Sarkar      Mahmudullah   Shakib Al Hasan
10       Imrul Kayes  Sabbir Rahman      Mahmudullah   Shakib Al Hasan
11        TWM Latham  KS Williamson         NT Broom       JDS Neesham
12           TM Head       SE Marsh    PSP Handscomb        GJ Maxwell
13           HM Amla   F du Plessis   AB de Villiers         JP Duminy
14         Q de Kock   F du Plessis        JP Duminy    AB de Villiers
15        TWM Latham  KS Williamson      LRPL Taylor          NT Broom
16       DG Brownlie  KS Williamson      LRPL Taylor          L Ronchi
17           HM Amla   F du Plessis        JP Duminy    AB de Villiers
18          AD Hales        JE Root       EJG Morgan         CR Woakes
19          AJ Finch      SPD Smith     MC Henriques          MA Starc
20       WU Tharanga     BKG Mendis     LD Chandimal     CK Kapugedera
21     Ahmed Shehzad     Babar Azam  Mohammad Hafeez      Shoaib Malik
22          AJ Finch      SPD Smith         MA Starc      JR Hazlewood
23          L Ronchi  KS Williamson      LRPL Taylor          NT Broom
24      Fakhar Zaman     Babar Azam  Mohammad Hafeez      Shoaib Malik
25    MD Gunathilaka     BKG Mendis      MDKJ Perera        AD Mathews
26     Sabbir Rahman  Soumya Sarkar  Mushfiqur Rahim   Shakib Al Hasan
27           JE Root       AD Hales       EJG Morgan         BA Stokes
28          S Dhawan        V Kohli     Yuvraj Singh           B Kumar
29      Fakhar Zaman     Babar Azam  Mohammad Hafeez      Shoaib Malik
...              ...            ...              ...               ...
1921             NaN            NaN              NaN               NaN
1922             NaN            NaN              NaN               NaN
1923             NaN            NaN              NaN               NaN
1924             NaN            NaN              NaN               NaN
1925             NaN            NaN              NaN               NaN
1926             NaN            NaN              NaN               NaN
1927             NaN            NaN              NaN               NaN
1928             NaN            NaN              NaN               NaN
1929             NaN            NaN              NaN               NaN
1930             NaN            NaN              NaN               NaN
1931             NaN            NaN              NaN               NaN
1932             NaN            NaN              NaN               NaN
1933             NaN            NaN              NaN               NaN
1934             NaN            NaN              NaN               NaN
1935             NaN            NaN              NaN               NaN
1936             NaN            NaN              NaN               NaN
1937             NaN            NaN              NaN               NaN
1938             NaN            NaN              NaN               NaN
1939             NaN            NaN              NaN               NaN
1940             NaN            NaN              NaN               NaN
1941             NaN            NaN              NaN               NaN
1942             NaN            NaN              NaN               NaN
1943             NaN            NaN              NaN               NaN
1944             NaN            NaN              NaN               NaN
1945             NaN            NaN              NaN               NaN
1946             NaN            NaN              NaN               NaN
1947             NaN            NaN              NaN               NaN
1948             NaN            NaN              NaN               NaN
1949             NaN            NaN              NaN               NaN
1950             NaN            NaN              NaN               NaN

            Players_17        Players_18        Players_19         Players_20  \
0     T van der Gugten  Mudassar Bukhari       Ahsan Malik    PA van Meekeren
1             NK Patel     Gurdeep Singh       NN Odhiambo          SO Ngoche
2         Tanwir Afzal      Nadeem Ahmed     Tanveer Ahmed                  0
3           Ehsan Khan      Shahid Wasif        Waqas Khan       Tanwir Afzal
4            JJ Bumrah          AR Patel         YS Chahal                  0
5          DS Kulkarni         JJ Bumrah          AR Patel          YS Chahal
6             AR Patel         YS Chahal                 0                  0
7            CJA Amini          CA Soper           N Vanua              A Nao
8              MA Ouma         SO Ngoche       NN Odhiambo          LN Oluoch
9      Mushfiqur Rahim     Sabbir Rahman  Mosaddek Hossain   Mashrafe Mortaza
10    Mosaddek Hossain     Tanbir Hayder       Nurul Hasan   Mashrafe Mortaza
11          TG Southee          JS Patel          MJ Henry         MJ Santner
12         SD Heazlett        MP Stoinis       JP Faulkner         PJ Cummins
13         F Behardien         CH Morris    AL Phehlukwayo           K Rabada
14           DA Miller       D Pretorius         CH Morris         WD Parnell
15         JDS Neesham        MJ Santner   C de Grandhomme         TG Southee
16            JS Patel        MJ Santner          TA Boult         TG Southee
17           DA Miller          K Rabada         CH Morris        Imran Tahir
18             MA Wood           JT Ball         BA Stokes        LE Plunkett
19        JR Hazlewood        PJ Cummins       JW Hastings            TM Head
20         MDKJ Perera     DAS Gunaratne        S Prasanna         RAS Lakmal
21       Sarfraz Ahmed        Imad Wasim       Shadab Khan      Mohammad Amir
22          PJ Cummins           TM Head      MC Henriques            A Zampa
23         JDS Neesham       CJ Anderson        MJ Santner           AF Milne
24       Mohammad Amir       Junaid Khan        Imad Wasim          Hasan Ali
25       DAS Gunaratne        SL Malinga        RAS Lakmal          N Pradeep
26         Mahmudullah  Mosaddek Hossain  Mashrafe Mortaza  Mustafizur Rahman

In [26]:
# Feeling null values of Winner
MatchAnaly1[['Players_1']] = MatchAnaly1[['Players_1']].fillna('')
MatchAnaly1['Players_1'].fillna('No', inplace=True)

In [27]:
MatchAnaly1['Team2'].isnull().sum()

0

In [31]:
MatchAnaly1.mean()

Series([], dtype: float64)

In [38]:
X = MatchAnaly1.drop("Players_1", axis = "columns")
y = MatchAnaly1.drop("Team1", axis = "columns")
print("shape of X = ", X.shape)
print("shape of y = ", y.shape)

shape of X =  (1951, 23)
shape of y =  (1951, 23)

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2, random_state=51)
print("shape of X_train = ", X_train.shape)
print("shape of y_train = ", y_train.shape)
print("shape of X_test = ", X_test.shape)
print("shape of y_test = ", y_test.shape)

shape of X_train =  (1560, 23)
shape of y_train =  (1560, 23)
shape of X_test =  (391, 23)
shape of y_test =  (391, 23)

In [42]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [43]:
lr.fit(X_train,y_train)

ValueError: could not convert string to float: 'HK Bennett'

In [153]:
# Focus only on these datasets

Match1 = MergeData[['Team2', 'Players_1','Players_2','Players_3']]
cols = ['Team2', 'Players_1','Players_2','Players_3']

MatchAnaly12 = Match1[cols]
MatchAnaly12.head(6)

         Team2    Players_1     Players_2    Players_3
0     Pakistan      G Malla     AK Mandal   S Vesawkar
1     Pakistan     C Carter       KD Shah  Babar Hayat
2     Pakistan   KJ Coetzer    CD Wallace   CS MacLeod
3     Pakistan   KJ Coetzer      MH Cross   CS MacLeod
4     Pakistan      PJ Moor  CJ Chibhabha  H Masakadza
5  New Zealand  H Masakadza  CJ Chibhabha      PJ Moor

In [154]:
MatchAnaly12.isnull().values.any()

True

In [155]:
MatchAnaly12['Players_1'].isnull().values.any()

True

In [156]:
Players_1 = MatchAnaly12.isnull().sum()
print (Players_1)

Team2         0
Players_1    46
Players_2    46
Players_3    46
dtype: int64

In [157]:
MatchAnaly12 = MatchAnaly12.dropna()

In [158]:
Players_1 = MatchAnaly12.isnull().sum()
print (Players_1)

Team2        0
Players_1    0
Players_2    0
Players_3    0
dtype: int64

In [159]:
# Feature Engineering 
# Approach: If team1 won the match, label 1 will be assigned, else if team2 won, label 2 will be assigned.
# Converting team1 and team2 from categorical variables to continuous inputs using pandas function pd.get_dummies. 
# This variable has only two answer choices: team1 and team2. 
# It creates a new dataframe which consists of zeros and ones. 
# Here dataframe will have a one depending on the team of a particular game in this case.


MatchAnaly12 = MatchAnaly12.reset_index(drop=True)
MatchAnaly12.loc[MatchAnaly12.Team2 == MatchAnaly12.Players_1,'Team_2']=1
MatchAnaly12.loc[MatchAnaly12.Team2 == MatchAnaly12.Players_2, 'Team_2']=2
MatchAnaly12.loc[MatchAnaly12.Team2 == MatchAnaly12.Players_3, 'Team_2']=3
MatchAnaly12 = MatchAnaly12.drop(['Team_2'], axis=1)
MatchAnaly12.head()

      Team2   Players_1     Players_2    Players_3
0  Pakistan     G Malla     AK Mandal   S Vesawkar
1  Pakistan    C Carter       KD Shah  Babar Hayat
2  Pakistan  KJ Coetzer    CD Wallace   CS MacLeod
3  Pakistan  KJ Coetzer      MH Cross   CS MacLeod
4  Pakistan     PJ Moor  CJ Chibhabha  H Masakadza

In [160]:
#convert team-1 and team-2 from categorical variables to continous inputs 

# Get dummy variables
final = pd.get_dummies(MatchAnaly12, prefix=['Players_1', 'Players_2','Players_3'], columns=['Players_1', 'Players_2','Players_3'])
# Separate X and y sets
X = final.drop(['Team2'], axis=1)
y = final["Team2"]

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [161]:
final.head()

,Team2,Players_1_A Balbirnie,Players_1_A Bonora,Players_1_A Mutreja,Players_1_A Patmore,Players_1_A Steyn,Players_1_AA Deshpande,Players_1_AA Mulla,Players_1_AA Obanda,Players_1_AA Onikoyi,...,Players_3_WU Tharanga,Players_3_Y Jalloh,Players_3_Y Nagar,Players_3_Yasir Hameed,Players_3_Younis Khan,Players_3_Yuvraj Singh,Players_3_ZE Surkari,Players_3_Zameer Khan,Players_3_Zeeshan Maqsood,Players_3_Zhang Yu Fei
0,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [162]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.390
Test set accuracy:  0.124

In [163]:

MatchAnaly1 = pd.get_dummies(MatchAnaly1, prefix=['Players_1', 'Players_2','Players_3'], columns=['Players_1', 'Players_2','Players_3'])

missing_cols = set(final.columns) - set(MatchAnaly1.columns)
for c in missing_cols:
    MatchAnaly1[c] = 0
MatchAnaly1 = MatchAnaly1[final.columns]


MatchAnaly1 =MatchAnaly1.drop(['Team2'], axis=1)
MatchAnaly1.head()

,Players_1_A Balbirnie,Players_1_A Bonora,Players_1_A Mutreja,Players_1_A Patmore,Players_1_A Steyn,Players_1_AA Deshpande,Players_1_AA Mulla,Players_1_AA Obanda,Players_1_AA Onikoyi,Players_1_AB de Villiers,...,Players_3_WU Tharanga,Players_3_Y Jalloh,Players_3_Y Nagar,Players_3_Yasir Hameed,Players_3_Younis Khan,Players_3_Yuvraj Singh,Players_3_ZE Surkari,Players_3_Zameer Khan,Players_3_Zeeshan Maqsood,Players_3_Zhang Yu Fei
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [164]:
#adding ICC rantings
#the team which is positioned higher on the ICC Ranking will be considered "favourite" for the match
#and therefore, will be positioned under the "Team_1" column

# Loading new datasets
strike = pd.read_csv('strike.csv') 
fixtures = pd.read_csv('fixtures2.csv')

# List for storing the group stage games
pred_set = []

In [165]:
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Players_1'].map(strike.set_index('Player')['Strike']))
fixtures.insert(2, 'second_position', fixtures['Players_2'].map(strike.set_index('Player')['Strike']))
fixtures.insert(2, 'third_position', fixtures['Players_3'].map(strike.set_index('Player')['Strike']))

# We only need the group stage games
#slice the dataset

fixtures = fixtures.iloc[:50, :]
fixtures.tail()

,Players_1,first_position,third_position,second_position,Players_2,Players_3
45,KC Brathwaite,NaN,NaN,NaN,E Lewis,KOA Powell
46,JJ Roy,NaN,NaN,NaN,AD Hales,JE Root
47,EC Joyce,NaN,NaN,NaN,PR Stirling,WTS Porterfield
48,JJ Roy,NaN,NaN,NaN,AD Hales,JE Root
49,JJ Roy,NaN,NaN,NaN,JM Vince,BM Duckett

In [166]:
# Loop to add teams to new prediction dataset based on the ranking position of each team
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Players_1': row['Players_1'], 'Players_2': row['Players_2'], 'Team2': None})
    else:
        pred_set.append({'Players_1': row['Players_2'], 'Players_2': row['Players_1'], 'Team2': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

      Players_1   Players_2 Team2
0     AK Mandal     G Malla  None
1       KD Shah    C Carter  None
2    CD Wallace  KJ Coetzer  None
3      MH Cross  KJ Coetzer  None
4  CJ Chibhabha     PJ Moor  None

In [170]:
# List of tuples before 
semi = [('C Carter', 'PJ Moor'),('DG Brownlie', 'DM Gondaria')]

In [179]:
def clean_and_predict(matches, strike, final, logreg):

# Initialization of auxiliary list for data cleaning
    positions = []

 # Loop to retrieve each team's position according to ICC ranking
    for match in matches:
        positions.append(strike.loc[strike['Player'] == match[0],'Strike'].iloc[0])
        positions.append(strike.loc[strike['Player'] == match[1],'Strike'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better then this team will be the 'Team_1' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Players_1': matches[j][0], 'Players_2': matches[j][1]})
        else:
            dict1.update({'Players_1': matches[j][1], 'Players_2': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['Players_1', 'Players_2'], columns=['Players_1', 'Players_2'])
    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Team2'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Players_1r: " + backup_pred_set.iloc[i, 1])
        else:
            print("Players_1: " + backup_pred_set.iloc[i, 0])
        print("")

In [180]:
clean_and_predict(semi, strike, final, rf)

C Carter and PJ Moor
Players_1: PJ Moor

DG Brownlie and DM Gondaria
Players_1: DM Gondaria